[user]
	email = u097498f@ecs.osaka-u.ac.jp
	name = kaki005
[commit]
	tamplate = $HOME/dotfiles/dotfiles/git/.commit_template
[alias]
    st = status
	# いい感じのグラフでログを表示
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	# 上の省略形
    gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    resf = reset --soft HEAD^
    rmc = rm -r --cached .

[credential]
    helper=store
[http]
    postBuffer=524288000
